@font-face {
    font-family: alice;
    src: url(text-style/Alice.ttf) format('truetype');
}

@font-face {
    font-family: jsmath;
    src: url(text-style/jsmath-cmti10.ttf) format('truetype');
}

@media (max-width:1000px) {
    body{
        display: inline-block;
    }
    #burger-menu{
        margin-right: 5px;
    }
    label{
        transform: translateX(5px)!important;
    }

}

@media (min-width:756px) {
    .menu-links{
        height: 8%;
        transform: translateY(15px) !important;
        font-size:20px;/*размеры текста*/
    }
}
body{
    
    background-image: url(pictures/1.jpg);
    height: max-content;
    margin:0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow-x: hidden;
}

header, footer{
    height: 5%;
    justify-items: right;
    align-content:center;
}

#burger-menu{
font-size:50px;
font-weight: 50;
margin-right: 10px;
}

input{
    visibility: hidden;
    position: absolute;

}
label{
    display: flex;
    top:5px;
    margin-right: 10px;
    justify-self:right;
    font-size:60px;
    transform: translateX(-20px);
    position: absolute;
    z-index: 10;
    /*transition: all 3s ease;*/
}
.burger-menu{
    display: none; /*flex*/
   justify-self: flex-end;
    height: 100px;
    width: 2000px;
    background-image: url(pictures/roses.jpg);
    background-size: contain; 
    background-position: center;
    position:absolute; 
    z-index: 5;
    opacity: 0;
    transform: translateY(-90px);
    transition: all 0.1s ease;
}

.menu-links{
    display: flex;
    position:fixed; /*sticky*/
    width: 90%;
    background-color: rgb(217, 116, 116);
    justify-self: left;
    top:10px;
    left:10px;
    z-index: 15;

    justify-content: left;
    align-self: center;
}

.menu-links span{
    align-self: center;
    padding: 0 20px 0 20px;
    font-size: 15px;/*размеры текста*/
}
input:checked~label{
    position: relative;
}
input:checked~.burger-menu{
    display:flex;
    transform:translateX(10px) translateY(-90px);
    opacity: 1;
}

main{
    display:grid;
    grid-row-gap: 15px;
    height: max-content;
    margin-top: 20px;
}

.info > .nazvanie{
    text-align: center;
    font-size:90px;
    margin: 0;
    font-family: 'Alice';
    color:rgb(255, 238, 248);
    -webkit-text-stroke: 1px rgb(63, 63, 63);
    text-shadow: 5px 6px 6px rgb(78, 172, 230) ;
}


.info{
    width:87%;
    height: 130px;
    justify-self:center;
    align-content: center;
    background-image: url(pictures/pion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category{
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-rows: 110px 290px;
    grid-template-columns: repeat(3,1fr);
}

.category .nazv{
    grid-column: span 3;
    justify-self:center;
    align-content: center;
}
 .nazvanie{
    font-size:60px;
    text-align: center;
    font-family: 'Alice';
    align-content: center;
}

.category div div{
    display: flex;
    justify-self: center;
    align-content: center;
}
.category div > img{
    border-radius: 50%;
    object-fit: cover;
    height: 240px;
    width: 240px;
    object-position: 100% 20%;
}

.category1,.category2, .category3{
    height: max-content;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.nadpis{
    font-family: 'Alice';
    font-size: 25px;
    color:black;
    margin-top:15px;
    text-align: center;
}


.hity{
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-rows: 110px 290px;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 10px;
    justify-content: center;
    align-content: center;
}

.hity .nazv{
    grid-column: span 3;
}

.hity div{
    justify-self: center;
    align-self:center ;
}

.kartinki{
    width: 420px;
    height: 270px;
    border-radius: 25%;
    overflow: hidden;
}

.kartinki > img{
    height: 100%;
    width: 100%;
}

.button-catalog{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.button-catalog button{
    height: 100px;
    width:300px;
    font-family: 'alice';
    font-size: 25px;
    border-radius: 15px;
    background-color: antiquewhite;
    border:1px solid rgb(117, 109, 109);
    transition: all  3s ease;
}

.button-catalog button:hover{
   background-color: #ffb3c0;
   height: 100px;
   width:350px;
   font-weight: 10px;
   font-size: 35px;
}

.button-catalog button a{
    text-decoration: none;
    color:black;
    transition: all  3s ease;
}

.button-catalog button:hover a{
    text-shadow: 0px 0px 10px rgb(160, 33, 33);
}

footer{
    height: 150px;
    margin-top: 20px;
    background-color: white;
}